IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 2
IndentCaseLabels: true
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine: true
FixNamespaceComments: true
IndentPPDirectives: AfterHash
InsertNewlineAtEOF: true
AlwaysBreakTemplateDeclarations: Yes
PenaltyReturnTypeOnItsOwnLine: 1000
